<table>
  <tr>
    <th rowspan="2">TT</th>
    <th rowspan="2">Họ và tên</th> 
    <th rowspan="2">Cơ sở</th>
    <th rowspan="2">Bộ phận</th>
    <th rowspan="2">Công</th>
    <th colspan="8">Chi tiết</th>
    <th rowspan="2">Tổng</th>
  </tr>
  <tr>
    <th>Hệ số</th>
    <th>Lương</th> 
    <th>Phạt</th>
    <th>Ứng</th>
    <th>Tro bocap</th>
    <th>P.cấp</th>
    <th>Trách nhiệm</th>
    <th>BHXH</th>
  </tr>
  <tr>
    <td>1</td>
    <td><%= @user %></td> 
    <td>CS1</td>
    <td>Sale ONL</td>
    <td>29</td>
    <td>28</td>
    <td>8,000</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>8,285.71</td>
  </tr>
</table>
