<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      table { width:100%; }

      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th, td , h2 {
        padding: 15px;
        text-align: center;
      }

      .footer {
        margin-top: 45px;
      }

      p {
        margin: 4px 0px;
      }

      .dv-vnd {
        float: right;
      }
    </style>
  </head>
  <body>
    <h4>Hệ thống ÁO BÓNG ĐÁ. NÉT	</h4>
    <h4>Địa chỉ: Số 8m9 ngõ 82 Nguyễn An Ninh, p. Tương Mai, Q. Hoàng Mai, Hà Nội</h4>
    <h2>BẢNG THANH TOÁN LƯƠNG THÁNG <%= 1.month.ago.strftime("%m-%Y") %></h2>
    <p class="dv-vnd">Đơn vị tính : 1000 đồng</p>

    <%= yield %>

    <div class="footer">
      <p>------</p>
      <p>Trần Thị Hoa.</p>
      <p>DĐ: 0968833178 </p>
    </div>
  </body>
</html>
